//- filename: index.jade
//- description: サイトのトップページ

extends /inc/foundation/_base.pug
block append config
  - current.id = "pfc" // ページのID
  - current.title = "PFCバランスページ" // タイトル
  - current.description = "これはPFCバランスページの説明文です" // 説明文
  - current.bodyClass = "top" // body に付与するクラス
  - current.depth = 2 // ページの階層

block body
  main.l-main
    p.u-text-center 準備中です。
    //- h2.c-heading.is-xlg PFCバランス
    //- +c.result.is-pfc
    //-   +e.box
    //-     +e("dl").dl
    //-       dt たんぱく質
    //-       dd
    //-         span.is-current 20g
    //-         span /
    //-         span.is-total 100g
    //-     +e("dl").dl
    //-       dt 脂質
    //-       dd
    //-         span.is-current 10g
    //-         span /
    //-         span.is-total 30g
    //-     +e("dl").dl
    //-       dt 炭水化物
    //-       dd
    //-         span.is-current 30g
    //-         span /
    //-         span.is-total 50g



    //- +c.chart
    //-   +e.container
    //-     canvas#pfc(width="1000" height="355")


    //- +c.table-log
    //-   table.c-table
    //-     thead
    //-       tr
    //-         th 日付
    //-         th カロリー
    //-         th たんぱく質
    //-         th 脂質
    //-         th 炭水化物
    //-         th メモ
    //-     tbody
    //-       tr
    //-         td 2020年7月12日（日）9:00
    //-         td 300kcal
    //-         td 25g
    //-         td 10g
    //-         td 30g
    //-         td メモメモ
    //-       tr
    //-         td 2020年7月12日（日）9:00
    //-         td 300kcal
    //-         td 25g
    //-         td 10g
    //-         td 30g
    //-         td メモメモ
    //-       tr
    //-         td 2020年7月12日（日）9:00
    //-         td 300kcal
    //-         td 25g
    //-         td 10g
    //-         td 30g
    //-         td メモメモ


