block locals
  - var currentId = 'top';
  - var title = 'My Website';
  - var description = 'My Website description';

doctype html
html(lang="ja")
  head
    block meta
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="robots" content="noindex, nofollow")
      title #{title}
      meta(name="description" content="ここに説明文（全角120文字以内）を書きます")
      meta(name="format-detection" content="telephone=no")
      //- IE対策
      meta(http-equiv="X-UA-Compatible" content="IE=edge")

    block ogp
      // <!-- ▼OGPの設定 -->
      if currentId = 'top'
        //- TOPページのみ「website」
        meta(property="op:type" content="website")
      else
        meta(property="op:type" content="article")
      //- サイト名などのブランド情報を含まないtitleを20文字以内で設定することが好ましい
      meta(property="op:title" content=title)
      //- 80~90文字が最適
      meta(property="op:description" content=description)
      //- 絶対パス
      meta(property="op:url" content="【　１：ページURL　】")
      meta(property="op:image" content="【　２：ページURL/images/ogp.png　】")
      //- サイト名やブランド情報
      meta(property="op:site_name" content="【　３：サイト名　】")
      meta(property="op:locale" content="ja_JP")
      meta(property="fb:app_id" content="165483704197128")
      // <!-- ▼Twitter Cardsの設定-->
      //- 大きい画像があればsummary_large_image
      meta(property="twitter:card" content="summary")
      meta(property="twitter:site" content="【　３：サイト名　】")

    block icon
      //- ファビコン
      link(rel="shortcut icon" href="/images/favicon.ico")
      //- スマホ用アイコン
      link(rel="apple-touch-icon" href="/apple-touch-icon.png")

    // <!--CSS -->
    block css


  body
    .container
      include inc/layout/_menu.pug
      block content
      include inc/layout/_footer.pug
