.c-result {
  &__box {
    max-width: 468px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em 3em;
    background-color: $color-white;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include box-shadow;
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__result {
    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      &.is-current {
        font-size: 20px;
      }

      &:nth-of-type(2) {
        margin: 0 8px;
      }
    }
  }

  &__dl {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    dt {
      width: 100%;
      max-width: 90px;
      font-weight: 700;
      flex: none;
      position: relative;
      margin-right: 16px;
      &:after {
        content: "：";
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    dd {
      width: 100%;
      span {
        display: inline-block;
        font-weight: 700;
        &.is-current {
          font-size: 20px;
        }
        &.is-total {

        }

        &:nth-of-type(2) {
          margin: 0 8px;
        }
      }
    }
  }
}
