extends /inc/foundation/_head.pug
block append config
  - current.id = "register" // ページのID
  - current.title = "新規登録" // タイトル
  - current.description = "これは新規登録の説明文です" // 説明文
  - current.bodyClass = "register" // body に付与するクラス
  - current.depth = 2 // ページの階層

block layout
  +c.login-form
    +e.container
      +e.block
        form(method="POST", action="/login/")
          +e.logo: +img("logo.png","Calcalc")
          +e.title 新規登録
          +e.input
            input(type="text", name="email", placeholder="メールアドレス")
          +e.input
            input(type="password", name="password", placeholder="パスワード")
          +e.button
            button(type="submit").c-button 登録する
          +e.button
            +a("/login/").c-button.is-accent ログイン
