header.l-header
  .l-header__title
    //- h1.l-header__logo: img(src="../assets/images/logo.png")
  .l-header__nav
    ul
      li: a(href="/") ホーム
      li: a(href="/") PFCバランス
      li: a(href="/") 食べもの検索
      li: a(href="/") 履歴
      li: a(href="/") 食べもの登録
      li: a(href="/") ユーザー設定

